[package]
name = "ina"
description = "Your resident M41D Unit, here to help with your server."
authors = ["Jaxydog"]
categories = ["command-line-utilities"]
keywords = ["bot", "discord"]

version = "0.1.0"
readme = "README.md"

edition.workspace = true
license.workspace = true
publish.workspace = true
repository.workspace = true

[workspace]
members = ["lib/ina-*"]
resolver = "2"

package.edition = "2021"
package.license = "AGPL-3.0-or-later"
package.publish = false
package.repository = "https://github.com/Jaxydog/1N4"

[workspace.lints]
clippy.cargo = "warn"
clippy.expect_used = "warn"
clippy.module_name_repetitions = { level = "allow", priority = 1 }
clippy.multiple_crate_versions = { level = "allow", priority = 1 }
clippy.nursery = "warn"
clippy.panic = "warn"
clippy.pedantic = "warn"
clippy.redundant_type_annotations = "warn"
clippy.undocumented_unsafe_blocks = "warn"
clippy.unwrap_used = { level = "deny", priority = 1 }
rust.missing_docs = "warn"
rust.unsafe_code = "deny"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[lints]
workspace = true

[features]
default = ["dotenv"]
dotenv = ["dep:dotenvy"]

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["cargo", "derive", "env"] }
dotenvy = { version = "0.15", optional = true }
ina-localization = { version = "*", path = "./lib/ina-localization/" }
ina-logging = { version = "*", path = "./lib/ina-logging/" }
ina-threading = { version = "*", path = "./lib/ina-threading" }
rand = { version = "0.8", features = ["nightly"] }
serde = { version = "1.0", features = ["derive"] }
time = { version = "0.3", features = ["local-offset", "serde"] }
tokio = { version = "1.0", features = ["full"] }
twilight-cache-inmemory = { git = "https://github.com/twilight-rs/twilight" }
twilight-gateway = { git = "https://github.com/twilight-rs/twilight" }
twilight-http = { git = "https://github.com/twilight-rs/twilight" }
twilight-model = { git = "https://github.com/twilight-rs/twilight" }
twilight-util = { git = "https://github.com/twilight-rs/twilight", features = ["full"] }
