name: General Lints

on: [push, pull_request]

jobs:
    toml:
        runs-on: ubuntu-latest
        container: tamasfe/taplo:0.9.3
        steps:
            - uses: actions/checkout@v4

            - name: Action - Check TOML formatting
              run: taplo format --check
            - name: Action - Lint TOML files
              run: taplo lint --default-schema-catalogs

    shell:
        runs-on: ubuntu-latest
        container: mvdan/shfmt:v3-alpine
        steps:
            - uses: actions/checkout@v4
            - name: Setup - Install shellcheck
              run: apk add shellcheck

            - name: Action - Lint shell scripts with shellcheck
              run: shfmt --find . | tr '\n' '\0' | xargs -0 shellcheck
            - name: Action - Check shell script formatting
              run: shfmt --diff .

# yaml:
#     runs-on: ubuntu-latest
#     steps:
#         - uses: actions/checkout@v4
